olist_analytics:
  target: dev

  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE') }}"
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE') }}"
      database: "{{ env_var('SNOWFLAKE_DATABASE') }}"
      schema: "{{ env_var('SNOWFLAKE_SCHEMA') }}"

      # The Docker container mounts the private key at this location.
      private_key_path: "{{ env_var('DBT_PRIVATE_KEY_PATH', '/keys/dbt_private_key.p8') }}"

      threads: 4
      client_session_keep_alive: false

